// COMPONENTE SLIDER PRODUCTS
//--------------------------------------------------------------------//
.slider-products {
    overflow: hidden;

    &__wrap {
        position: relative;
    }

    &__sub-wrap {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap: $px-spacing-l-m;
        margin-bottom: $rem-spacing-l;
    }

    div.woocommerce {
        ul.products {
            position: relative;
            width: 100%;
            height: 100%;
            z-index: 1;
            display: flex;
            transition-property: transform;
            box-sizing: content-box;
            margin: 0;

            &::before,
            &::after {
                content: none;
            }

            li.product {
                flex-shrink: 0;
                width: 100%;
                position: relative;

                &:not(.product-category) {
                    @extend %lyt-product-card-1;
                }

                &.product-category {
                    @extend %lyt-category-card-1;
                }
            }
        }
    }
}

//--------------------------------------------------------------------//
