//Classi comuni per img
//--------------------------------------------------------------------//

// FIT
.object-fit-cover {
    object-fit: cover;
}

.object-fit-contain {
    object-fit: contain;
}

// POSITION
.object-position-center {
    object-position: center;
}

.object-position-top {
    object-position: top;
}

.object-position-bottom {
    object-position: bottom;
}

.object-position-left {
    object-position: left;
}

.object-position-right {
    object-position: right;
}

.object-position-top-left {
    object-position: top left;
}

.object-position-top-right {
    object-position: top right;
}

.object-position-bottom-left {
    object-position: bottom left;
}

.object-position-bottom-right {
    object-position: bottom right;
}
