.fade {
    opacity: 0;
    transition: opacity 0.75s ease-in-out, transform 0.75s ease-in-out;

    &.animate {
        opacity: 1;
    }
}

.animdelay-100ms {
    transition-delay: 0.2s;
}

.animdelay-200ms {
    transition-delay: 0.4s;
}
