.im-block-text {
    &__container {
    }

    &__content {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        > * {
            margin: 0 0 20px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &.two-column {
            @include at-tablet {
                column-count: 2;
                column-gap: 20px;
            }
        }
    }
}
