body {
    display: flex;
    height: auto;
    min-height: 100vh;
    flex-direction: column;

    #main-content {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .page-not-found {
        margin-top: $rem-spacing-3xl;
        margin-bottom: $rem-spacing-3xl;

        h2 {
            margin-bottom: 55px;
            text-transform: uppercase;
            text-shadow: none;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: $rem-spacing-l;
        }
    }

    .footer {
        margin-top: auto;
    }
}
