/**** BASKERVVILLE ****/

/* fallback */
@font-face {
    font-family: 'Baskervville-fallback';
    size-adjust: 109%;
    ascent-override: 91%;
    src: local('Times New Roman');
}

@font-face {
    font-display: swap;
    font-family: 'Baskervville';
    font-style: normal;
    font-weight: 400;
    src: url('https://static.cdn-immedia.net/fonts/google/baskervville/baskervville-400.woff2')
        format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Baskervville';
    font-style: italic;
    font-weight: 400;
    src: url('https://static.cdn-immedia.net/fonts/google/baskervville/baskervville-400italic.woff2')
        format('woff2');
}
