/**** EB GARAMOND ****/

/* fallback */
@font-face {
    font-family: 'EB Garamond-fallback';
    size-adjust: 94.25000000000007%;
    ascent-override: 114%;
    src: local('Times New Roman');
}

@font-face {
    font-display: swap;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 500;
    src: url('https://static.cdn-immedia.net/fonts/google/eb-garamond/eb-garamond-500.woff2')
        format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 500;
    src: url('https://static.cdn-immedia.net/fonts/google/eb-garamond/eb-garamond-500italic.woff2')
        format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'EB Garamond';
    font-style: normal;
    font-weight: 700;
    src: url('https://static.cdn-immedia.net/fonts/google/eb-garamond/eb-garamond-700.woff2')
        format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'EB Garamond';
    font-style: italic;
    font-weight: 700;
    src: url('https://static.cdn-immedia.net/fonts/google/eb-garamond/eb-garamond-700italic.woff2')
        format('woff2');
}
