/**** WORK SANS ****/

/* fallback */
@font-face {
    font-family: 'Work Sans-fallback';
    size-adjust: 111.72%;
    ascent-override: 80%;
    src: local('Arial');
}

@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 300;
    src: url('https://static.cdn-immedia.net/fonts/google/work-sans/work-sans-300.woff2')
        format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Work Sans';
    font-style: italic;
    font-weight: 300;
    src: url('https://static.cdn-immedia.net/fonts/google/work-sans/work-sans-300italic.woff2')
        format('woff2');
}
