@use '../base' as *;

* {
    box-sizing: border-box;

    &:before,
    &:after {
        box-sizing: border-box;
    }
}

:root {
    --header-height: 100px;
    --to-width: -50%;
    --secondary-color: #1e3258;
    --tertiary-color: #ffffff;
    --font-family-title: 'Inter', 'Inter-fallback', Arial, Helvetica, sans-serif;
    --radius-btn: 0;
    --aspect-ratio-single-product: 1;

    --font-size-h1: clamp(1.563rem, 1.456rem + 0.536vw, 1.938rem);
    --font-weight-h1: 700;
    --line-height-h1: 1.2;
    --text-transform-h1: none;

    --font-size-h2: 1.563rem;
    --font-weight-h2: 700;
    --line-height-h2: 1.2;
    --text-transform-h2: none;
}

html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    width: 100%;
    overflow-x: hidden;

    @include eq-mobile {
        -moz-text-size-adjust: 100%;
        -webkit-text-size-adjust: 100%;
        text-size-adjust: 100%;
    }

    &.ovfw-hid-nav-mob,
    &.mini-cart-open {
        overflow: visible !important;
    }
}

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: $font-family-primary;
    font-weight: $font-weight-regular;
    line-height: 1.5;
    color: $primary;
    font-display: swap;
    background-color: $bg;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;

    &.mini-cart-open,
    &.drawer-open {
        overflow: unset !important;
    }

    &.font-inter {
        --font-family-title: 'Inter', 'Inter-fallback', Arial, Helvetica,
            sans-serif;

        --font-size-h1: clamp(1.563rem, 1.456rem + 0.536vw, 1.938rem);
        --font-weight-h1: 700;
        --line-height-h1: 1.2;
        --text-transform-h1: none;

        --font-size-h2: 1.563rem;
        --font-weight-h2: 700;
        --line-height-h2: 1.2;
        --text-transform-h2: none;
    }

    &.font-inter-uppercase {
        --font-family-title: 'Inter', 'Inter-fallback', Arial, Helvetica,
            sans-serif;

        --font-size-h1: clamp(1.563rem, 1.456rem + 0.536vw, 1.938rem);
        --font-weight-h1: 700;
        --line-height-h1: 1.2;
        --text-transform-h1: uppercase;

        --font-size-h2: 1.563rem;
        --font-weight-h2: 400;
        --line-height-h2: 1.3;
        --text-transform-h2: uppercase;
    }

    &.font-eb-garamond {
        --font-family-title: 'EB Garamond', 'EB Garamond-fallback',
            'Times New Roman', serif;

        --font-size-h1: clamp(1.563rem, 1.313rem + 1.25vw, 2.438rem);
        --line-height-h1: 1.2;
        --text-transform-h1: none;

        --font-size-h2: clamp(1.563rem, 1.456rem + 0.536vw, 1.938rem);
        --line-height-h2: 1.2;
        --text-transform-h2: none;

        @include eq-mobile {
            --font-weight-h1: 700;
            --font-weight-h2: 700;
        }

        @include at-tablet {
            --font-weight-h1: 500;
            --font-weight-h2: 500;
        }
    }

    &.font-baskervville-uppercase {
        --font-family-title: 'Baskervville', 'Baskervville-fallback',
            'Times New Roman', serif;

        --font-size-h1: clamp(1.563rem, 1.384rem + 0.893vw, 2.188rem);
        --font-weight-h1: 400;
        --line-height-h1: 1.2;
        --text-transform-h1: uppercase;

        --font-size-h2: 1.563rem;
        --font-weight-h2: 400;
        --line-height-h2: 1.2;
        --text-transform-h2: uppercase;
    }

    &.font-work-sans {
        --font-family-title: 'Work Sans', Arial, Helvetica, sans-serif;

        --font-size-h1: clamp(2.25rem, 2rem + 1.25vw, 3.125rem);
        --font-weight-h1: 300;
        --line-height-h1: 1.3;
        --text-transform-h1: none;

        --font-size-h2: clamp(1.938rem, 1.849rem + 0.446vw, 2.25rem);
        --font-weight-h2: 300;
        --line-height-h2: 1.2;
        --text-transform-h2: none;
    }

    > main {
        display: block;
        flex: 1;
    }
}

a {
    background-color: transparent;
}

picture,
img {
    display: block;
    border-style: none;
}

button,
input,
optgroup,
select,
textarea {
    text-transform: none;
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
}

textarea {
    overflow: auto;
}

button,
input {
    overflow: visible;
}
