// COMPONENTE BREADCRUMBS
//--------------------------------------------------------------------//

.breadcrumb {
    display: block;
    @include over-head();
    color: $primary;
    margin-bottom: $rem-spacing-xs;

    a {
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

//--------------------------------------------------------------------//
