// COMPONENTE HERO TEXT
//--------------------------------------------------------------------//

.hero-text {
    text-align: center;
}

//--------------------------------------------------------------------//
