// STILE PAGINA HOMEPAGE
//--------------------------------------------------------------------//

// .wc-input {
//     @extend %wc-base-input;
// }

// .wc-select-form {
//     @extend %wc-select-form;
// }

// .wc-checkbox {
//     @extend %wc-checkbox-form;
// }

// input[type='checkbox'] {
//     @extend %wc-checkbox-form;
// }

// input[type='radio'] {
//     @extend %wc-radio-form;
// }
//--------------------------------------------------------------------//
