// COMPONENTE CARD NEWS
//--------------------------------------------------------------------//

.card-news {
    display: block;
    position: relative;
    height: 100%;
    text-decoration: none;
    overflow: hidden;

    &__container {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &__img-wrap {
        order: 1;
        width: 100%;

        picture {
            aspect-ratio: 2 / 1;

            img {
                @include size(100%);
                object-fit: cover;
            }
        }
    }

    &__text-wrap {
        flex: 1;
        order: 2;
        display: flex;
        flex-direction: column;
        color: $primary;
        gap: $rem-spacing-s;
        padding: $rem-spacing-l;
        background-color: $white;
        transition: background-color 0.2s cubic-bezier(0.55, 0.085, 0.68, 0.53);
    }

    &__p {
        margin-top: $rem-spacing-s;
    }

    &__sub-text {
        margin-top: auto;

        span {
            display: block;
            margin-top: $rem-spacing-l;
        }
    }

    @include at-tablet {
        &:hover {
            .card-news__text-wrap {
                background-color: $light;
            }
        }
    }
}

//--------------------------------------------------------------------//
