//##########################################//
//                                          //
//      VARIABILI CROMATICHE SITO           //
//                                          //
//##########################################//

// Default
$black: #000000;
$white: #ffffff;

// Design System
$bg: #ffffff;
$primary: #2d2d2d;
$light: #fbf9f8;
$medium: #bebcbd;
$dark: #2d2d2d;
$grey: #8a8989;
$line: #9f9f9f;
$red: #c22c14;
$green: #4c7528;
$details: #ff6f61;

// Variabili di Woocommerce
$wc-basic-white: #ffffff;
$wc-white: #fbf9f8;
$wc-black: #2d2d2d;
$wc-grey: #dfdedb;
$red_wc_color: #da2525 !default;
$green_wc_color: #10b981 !default;
$orange_wc_color: #fbbf24 !default;
