// COMPONENTE BUTTON
//--------------------------------------------------------------------//

body.align-left {
    .custom-quote {
        &__container {
            text-align: left;
        }
    }
}

body.align-center {
    .custom-quote {
        &__container {
            text-align: center;
        }
    }
}

.custom-quote {
    &__quote {
        padding: 0;
        margin: 0;
    }

    &__cite {
        display: block;
        font-style: normal;
        margin-top: $rem-spacing-l;

        span {
            display: block;

            &.cite__main {
                &:not(:only-child) {
                    margin-bottom: $rem-spacing-xs;
                }
            }
        }
    }

    &__cta {
        margin-top: $px-spacing-l;
    }
}

//--------------------------------------------------------------------//
